*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    display: flex;
    align-items: center;
}
#image{
    max-width: 350px;
    border-radius: 5px;
    width: 100%;
    margin: 60px;
}