<!DOCTYPE html>
<%- include('./layout/layout.ejs')%>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/stylesheet/login.css" rel="stylesheet">
</head>
<body>

      	<!-- breadcrumb-section -->
        <div class="breadcrumb-section " style="background-image: url(/public/images/appimages/IMG_6926\ \(2\)\ \(1\).JPG)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                  <p>Enter your Email</p>
                  <h1>OTP Login</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end breadcrumb section -->
          <div class="row  d-flex justify-content-center " style=" margin: 30px;">
            <div class="login-box  col-lg-4 " style="margin-top: 15vh; margin-bottom: 15vh;" >
    <h5 style="color: #fff;">Enter new password</h5>
    <% if(typeof message!=='undefined')
    {%>
      <p style="color: red;"><%- message %></p>
    <%
    }
    %>
    <form action="/resetpassword" method="post">
        <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
          </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <a><input type="submit" value="submit" class="btn btn-primary" style="width: 120px;height: 50px;">
      </a>
    </form>
  </div>
  </div>
</body>
</html>
<%- include('./layout/footer.ejs')%>