<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p> &copy; 2023 - <a href="">Zsonicx</a></p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<!-- jquery -->
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/public/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/public/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/public/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/public/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/public/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/public/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/public/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/public/js/sticker.js"></script>
	<!-- main js -->
	<script src="/public/js/main.js"></script>

</body>
</html>