	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Welcome to Zsonicx, your ultimate destination for all your sporting needs! We are an exceptional e-commerce site dedicated to providing sports enthusiasts with a wide range of top-quality products to elevate their game to the next level.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, High Road , Thrissur, Kerala.</li>
							<li>support@Zsonicx.com</li>
							<li>+91 123456789</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/cart">cart</a></li>
							<li><a href="/viewproduct">Shop</a></li>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/orders">Orders</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="/home">
							<input type="email" placeholder="Email" >
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>&copy; 2023 - <a href="">Zsonicx</a>, Enjoy shopping</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<!-- jquery -->
	<script src="/public/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/public/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/public/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/public/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/public/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/public/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/public/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/public/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/public/js/sticker.js"></script>
	<!-- main js -->
	<script src="/public/js/main.js"></script>

</body>
</html>