<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Zsonicx</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="icon/png" href="/public//images/appimages/png-clipa-PhotoRoom.png-PhotoRoom.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/public/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/public/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/public/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/public/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/public/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/public/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/public/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
                <!-- <img src="/public/images/appimages/iconfirst.jpg"  alt=""> -->
								Zsonicx
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/home">Home</a>
								</li>
								<li><a href="/cart">Cart</a>
									
								</li>
								<li><a href="/orders">Orders</a>
								</li>
								<li><a href="/profile">Profile</a></li>
								<li><a href="/viewproduct">Shop</a>
									
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/profile"><i class="fas fa-user"></i></a>
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class=" search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                        <a class=" btn search-bar-icon p-2 mb-1" style="border-color: orange; width: 15vh; text-align: center; " href="/logout">LOGOUT</a>
									</div>
								</li>
							</ul>
						</nav>
						<a hidden class=" search-bar-icon" href=""><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
  	
